<p id="notice"><%= notice %></p>

<p>
  <strong>Thing:</strong>
  <%= @todo.thing %>
</p>

<p>
  <strong>Done:</strong>
  <%= @todo.done %>
</p>

<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>
